body {
    background-color: #EAE7DC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display:block;
}
ul{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style:none;
    font-weight: bold;
}
li{
    display:inline;
    margin-right: 20px;
    padding: 4px;
}
a{
    text-decoration:none;
    color: #8E8D8A;
}
a:hover{
    color:#E98074;
}
#name{
    margin:30px;
    font-size:30px;
    color:#E98074;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#purpose {
    font-size: 20px;
    color: #8E8D8A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin:30px;
}
#headshot{
    padding:4px;
    float:right;
    margin:30px;
}