nav{
    display:block;
}
ul{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style:none;
    font-weight: bold;
}
li{
    display:inline;
    margin-right: 20px;
}
a{
    text-decoration:none;
    color: gray;
}
a:hover{
    color:darkred;
}