body {
    background-color: #F1F2F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display:block;
}
ul{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style:none;
    font-weight: bold;
}
li{
    display:inline;
    margin-right: 20px;
    padding: 4px;
}
a {
    text-decoration: none;
    color: #A3C4D9;
}
a:hover{
    color:#163E73;
}
#name{
    margin-left:30px;
    font-size:30px;
    color:#093040;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#purpose {
    font-size: 20px;
    color: #163E73;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin-left:30px;
}