body {
    background-color: #EAE7DC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: block;
}

ul {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-weight: bold;
}

li {
    display: inline;
    margin-right: 20px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: #8E8D8A;
}

a:hover {
    color: #E98074;
}
#projects {
    margin-left: 30px;
    color: #E98074;
    font-size: 30px;
}
#databaseprojectsinfo {
    font-size: 20px;
    color: #8E8D8A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin-left: 30px;
}
#databaseviewproject{
    text-align:center;
}
#programmingprojectsinfo {
    font-size: 20px;
    color: #8E8D8A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    margin-left: 30px;
}
#programmingviewproject {
    text-align: center;
}